// see https://github.com/couds/react-bulma-components#advanced
// we are supposed to import the react-bulma-component index.sass
// here, but it is somehow not included in the RC version.
// however, that index.sass anyway only included the Bulma SASS deps
// so we just include them directly.
@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all.sass";
@import '~bulma/sass/helpers/_all.sass';
@import '~bulma/sass/layout/hero.sass';
@import '~bulma/sass/grid/_all.sass';
@import '~bulma/sass/elements/image.sass';

body {
  /*background-image: url('backgrounds/a305ae5e100f5f9086469496e56ec696c872e3ad_hq.jpg');
  background-image: url('backgrounds/dbvfogs-4f2c3dd5-b13e-49c3-8e41-150a7ed95c01.png');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('backgrounds/cool-background.png');
}

html, body {
  &.no-scroll {
    height: 100%;
    overflow-y: hidden;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* workaround for problem with Bulma Tag element that doesnt accept background styling */
.tag.type {
  color: white;

  &.normal {
    background: whitesmoke !important;
    color: #666;
  }
  &.fighting {
    background: lightbrown !important;
    color: #666;
  }
  &.grass {
    background: green !important;
  }
  &.water {
    background: darkblue !important;
  }
  &.fire {
    background: red !important;
  }
  &.electric {
    background: yellow !important;
    color: #666;
  }
  &.ice {
    background: lightblue !important;
  }
  &.poison {
    background: purple !important;
  }
  &.ground {
    background: saddlebrown !important;
  }
  &.flying {
    background: blue !important;
  }
  &.psychic {
    background: pink !important;
  }
  &.bug {
    background: lightgreen !important;
  }
  &.rock {
    background: darkgray !important;
  }
  &.ghost {
    background: whitesmoke !important;
    color: #666;
  }
  &.dragon {
    background: darkyellow !important;
  }
  &.dark {
    background: black !important;
  }
  &.steel {
    background: gray !important;
  }
  &.fairy {
    background: lightpink !important;
  }
}