// see https://github.com/couds/react-bulma-components#advanced
// we are supposed to import the react-bulma-component index.sass
// here, but it is somehow not included in the RC version.
// however, that index.sass anyway only included the Bulma SASS deps
// so we just include them directly.
@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all.sass";
@import '~bulma/sass/helpers/_all.sass';
@import '~bulma/sass/layout/hero.sass';
@import '~bulma/sass/grid/_all.sass';
@import '~bulma/sass/elements/image.sass';

body {
  /*background-image: url('backgrounds/a305ae5e100f5f9086469496e56ec696c872e3ad_hq.jpg');
  background-image: url('backgrounds/dbvfogs-4f2c3dd5-b13e-49c3-8e41-150a7ed95c01.png');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('backgrounds/cool-background.png');
}

html, body {
  &.no-scroll {
    height: 100%;
    overflow-y: hidden;
  }
}

/* workaround for problem with Bulma Tag element that doesnt accept background styling */
.tag.type {
  color: white;

  &.normal {
    background: whitesmoke !important;
    color: #666;
  }
  &.fighting {
    background: lightbrown !important;
    color: #666;
  }
  &.grass {
    background: green !important;
  }
  &.water {
    background: darkblue !important;
  }
  &.fire {
    background: red !important;
  }
  &.electric {
    background: yellow !important;
    color: #666;
  }
  &.ice {
    background: lightblue !important;
  }
  &.poison {
    background: purple !important;
  }
  &.ground {
    background: saddlebrown !important;
  }
  &.flying {
    background: blue !important;
  }
  &.psychic {
    background: pink !important;
  }
  &.bug {
    background: lightgreen !important;
  }
  &.rock {
    background: darkgray !important;
  }
  &.ghost {
    background: whitesmoke !important;
    color: #666;
  }
  &.dragon {
    background: darkyellow !important;
  }
  &.dark {
    background: black !important;
  }
  &.steel {
    background: gray !important;
  }
  &.fairy {
    background: lightpink !important;
  }
}