// see https://github.com/couds/react-bulma-components#advanced
// we are supposed to import the react-bulma-component index.sass
// here, but it is somehow not included in the RC version.
// however, that index.sass anyway only included the Bulma SASS deps
// so we just include them directly.
@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all.sass";
@import '~bulma/sass/helpers/_all.sass';
@import '~bulma/sass/layout/hero.sass';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
